<div class="admin-dashboard">
  <!-- Site Management -->
  <div class="admin-section-card">
    <div class="admin-section-content">
      <h2 class="admin-section-title">Site Management</h2>

      <p class="admin-section-description">
        Add, edit or remove journals from this site and manage site-wide settings.
      </p>
    </div>

    <div class="admin-section-buttons">
      <a href="/admin/contexts" class="btn-admin-section">Hosted Journals</a>
      <a href="/admin/settings" class="btn-admin-section">Site Settings</a>
    </div>
  </div>
  <!-- System Information -->
  <div class="admin-section-card">
    <div class="admin-section-content">
      <h2 class="admin-section-title">System Information</h2>

      <p class="admin-section-description">
        View information about the version and configuration settings of the application and server.
      </p>
    </div>

    <div class="admin-section-buttons">
      <a href="/admin/systemInfo" class="btn-admin-section">View System Information</a>
    </div>
  </div>
  <!-- Expire User Sessions -->
  <div class="admin-section-card">
    <div class="admin-section-content">
      <h2 class="admin-section-title">Expire User Sessions</h2>

      <p class="admin-section-description">
        All users will be immediately logged out of the application, including you, and will need to login again.
      </p>
    </div>

    <div class="admin-section-buttons">
      <a href="/admin/expireSessions" class="btn-admin-section btn-danger">Expire User Sessions</a>
    </div>
  </div>
  <!-- Delete Caches -->
  <div class="admin-section-card">
    <div class="admin-section-content">
      <h2 class="admin-section-title">Delete Caches</h2>

      <p class="admin-section-description">
        Delete cache files from the system. This should only be done in development environments.
      </p>
    </div>

    <div class="admin-section-buttons">
      <a href="/admin/clearDataCache" class="btn-admin-section btn-danger">Delete Data Caches</a>
      <a href="/admin/clearTemplateCache" class="btn-admin-section btn-danger">Delete Template Cache</a>
    </div>
  </div>
  <!-- Clear Scheduled Task Logs -->
  <div class="admin-section-card">
    <div class="admin-section-content">
      <h2 class="admin-section-title">Clear Scheduled Task Logs</h2>

      <p class="admin-section-description">
        Delete all logs of scheduled tasks processes that have been run.
      </p>
    </div>

    <div class="admin-section-buttons">
      <a href="#" class="btn-admin-section btn-danger">Delete Task Logs</a>
    </div>
  </div>
  <!-- Jobs -->
  <div class="admin-section-card">
    <div class="admin-section-content">
      <h2 class="admin-section-title">Jobs</h2>

      <p class="admin-section-description">
        View all of the queued jobs in the system and track failed attempts.
      </p>
    </div>

    <div class="admin-section-buttons">
      <a href="/admin/jobs" class="btn-admin-section">View Jobs</a>
      <a href="/admin/failedJobs" class="btn-admin-section">View Failed Jobs</a>
    </div>
  </div>
  <!-- Logout -->
  <div style="margin-top: 30px; text-align: right;">
    <a href="/logout" class="btn-admin-section" style="max-width: 150px;">Logout</a>
  </div>
</div>
