<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
    <title>Make a Submission: Details</title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>

  <body class="ojs-details-body">
    <%= if msg = Phoenix.Flash.get(@flash, :info) do %>
      <div class="flash-message flash-info">{msg}</div>
    <% end %>

    <%= if msg = Phoenix.Flash.get(@flash, :error) do %>
      <div class="flash-message flash-error">{msg}</div>
    <% end %>

    <main class="ojs-details-page">
      {@inner_content}
    </main>
  </body>
</html>
